/* .login-style {
  padding: 30px 0 0 0 ;
  width: 500px;
  position:absolute;
  top:20%;
  left:30%;
}
  
.avatar {
  align: center;
  background-color:lavenderblush;
}
.sign-button {
  color: rgb(151, 184, 255);
} */