.sign-up {
    padding: 50px 0 0 0 ;
    background-color: rgb(207, 232, 247);
    width: 500px;
    position:absolute;
    top:20%;
    left:30%;
}

.signup-button {
    color: rgba(71, 71, 189, 0.836);
}